/* -----------------------------------------------------------------------------
 * SASS Theme for Ognjisce media player
 * Copyright 2016 Toni Anzlovar, toni[at]formalibre.si
 * ----------------------------------------------------------------------------- */
/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.hidden {
  display: none; }

.link {
  cursor: pointer; }

a {
  cursor: pointer;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s; }
  a:hover {
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s; }

.k-list {
  list-style: none;
  color: #ffffff;
  background-color: #4f5d75;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  .k-list ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none; }
  .k-list li span {
    display: block;
    padding: 1rem; }
  .k-list li li {
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.1); }
