<div id="header" header>
    <form class="pure-form">
        <input type="text" placeholder="Iskalnik" ng-model="query" ng-change="found=search(query)">
        &nbsp;<span class="fa fa-search"></span>
    </form>

    <div class="search-result hidden" ng-class="found ? '': 'hidden'">
        <ul class="k-songs">
            <li class="link song-link" ng-repeat="item in found track by $index"  ng-click="select(item)">
                <div class="song" ng-include="'_song.html'"></div>
            </li>
        </ul>
    </div>

</div>