/* -----------------------------------------------------------------------------
 * SASS Theme for Ognjisce media player
 * Copyright 2016 Toni Anzlovar, toni[at]formalibre.si
 * ----------------------------------------------------------------------------- */
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "common";
@import "defaults";



body {
  @include n;
}


.hidden {
  display: none;
}

.link {
  cursor: pointer;
}

a {
  cursor: pointer;
  @include transition(0.8s);
  &:hover {
    text-decoration: none;
    @include transition(0.2s);
  }
}


.k-list {
  list-style: none;
  color: $color4;
  background-color: $color2;
  @include n;
  ul {
    list-style: none;
    @include n; 
    border: none;
  }
  
  $indent: 1em;
  li {
    span {
      display: block;
      padding: 1rem;
    }
    li {
      padding-left: 1*$indent;
      background-color: rgba(255,255,255,0.1);
    }

  }
}