/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

$color1: #2d3142; //rgba(45, 49, 66, 100)
$color2: #4f5d75; //rgba(79, 93, 117, 100)
$color3: #bfc0c0; //rgba(191, 192, 192, 100)
$color4: #ffffff; //rgba(255, 255, 255, 100)
$color5: #ef8354; //rgba(239, 131, 84, 100)


html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}